
<cmp 
	name = "播放器 -sdafdsfsadf" 
	link = "http://192.168.1.130/chat/" 
	description = "播放器 -"
	logo = "{src:cmp/logo.png,xywh:[10R,10R,0,0]}"

	skin = "src:cmp/cmp/cchat.zip"
	
	models = "cmp/p2plive.swf,cmp/youku.swf,cmp/p2pstream.swf"
	plugin = "cmp/krc.swf,cmp/kmc.swf"

	plugins = ""

	backgrounds = ""

	lists = "src:cmp/cmp/list.xml"
	
	sound_sample = "1"
	sound_eq = ""

	image_handler = "cmp/logo.png"

	list_delete = "1"
	auto_open = "1"
	default_skin = "0"
	counter = ""

/>
